@model Post;
<div class="card text-center mb-5">
    <div class="card-header p-0">
        <div class="blog-media">
            <img src="assets/imgs/blog-2.jpg" alt="" class="w-100">
            <a href="#" class="badge badge-primary">#Placeat</a>
        </div>
    </div>
    <div class="card-body px-0">
        <h5 class="card-title mb-2">@Model.Name</h5>
        <small class="small text-muted">
            January 20 2019
            <span class="px-2">-</span>
            <a href="#" class="text-muted">34 Comments</a>
        </small>
        <p class="my-2">@Model.Description</p>
    </div>
    <div class="card-footer p-0 text-center">
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm">READ MORE</a>
    </div>
</div>
